<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus.socketchat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="SavedMessages.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.zeus.socketchat.DataModels.ChatMsg,com.zeus.socketchat.DataModels.OtherUsersInfo,
            com.zeus.socketchat.DataModels.UserDetails,com.zeus.socketchat.DataModels.PendingServerMsgs" />

        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.UsersListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ChatActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ServerSettingsActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".ChatReceiveIntentService"
            android:exported="false" />

        <receiver
            android:name=".NewMsgReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="55">
                <action android:name="com.zeus.socketchat.intent.action.MESSAGE_PROCESSED" />

                <category android:name="Intent.CATEGORY_DEFAULT" />
            </intent-filter>
        </receiver>


        <service
            android:name=".StartServerIntentService"
            android:exported="false" />

        <receiver
            android:name=".UsersListMsgReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="55">
                <action android:name="com.zeus.socketchat.intent.UPDATE_USER_LIST" />

                <category android:name="Intent.CATEGORY_DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>